//main colors
$black:       #2d2d2d;
$white:       #ffffff;
$gray:        #969696;
$green:       #40b669;
$red:         #e04b44;

//social network colors
$twitter:     #00aced;
$soundcloud:  #f30;
$facebook:    #3b5998;
$spotify:     #7ab800;
$instagram:   #3f729b;

//fonts
$mainFont:    "Helvetica Neue", Helvetica, Arial, sans-serif;