// Place all the styles related to the admin/bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixins/*";
@import "light";
@import "dark";

/*************************************
Globals
*************************************/
html, body{
  margin: 0;
  padding: 0;
}
html{
  font-family: $mainFont;
  font-weight: 200;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a, button{

}

ul, ol{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button, input, textarea{
  font-family: $mainFont;
  font-weight: 200;
}
button{
  cursor: pointer;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

#app{

}

/*************************************
Spacing
*************************************/
$spacing: 340px;

/*************************************
Sidebar
*************************************/
#sidebar{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 40px;
  width: $spacing;
  z-index: 2;
}
form{
  display: block;
  margin: 0;
  padding: 0;
}
ul#menu_sections{

  li{
    margin: 0 0 1em 0;
  }

}
button.menu_section_label{

  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font-family: $mainFont;
  font-size: 1.4em;
  font-weight: 200;
  display: block;
  width: 100%;
  text-align: left;
  @include transition(color, 0.15s, ease-in-out);

}

/*************************************
Top Bar
*************************************/
#topbar{
  position: fixed;
  top: 0;
  right: 0;
  height: 60px;
  width: 100%;
  padding-left: $spacing;
  z-index: 1;
}
a#preview_url{

  display: block;
  text-decoration: none;
  margin-top: 18px;

  &:hover{
    text-decoration: underline;
  }

}

ul#save_dialog{

  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 60px;

  li{
    display: inline-block;
    height: 100%;
  }
  button{
    display: block;
    height: 100%;
    font-size: 1.2em;
    padding: 0 1.5em;
  }
  button.save{
    background: $green;
    color: $white;
    &:hover{
      background: darken($green, 10%);
    }
  }

}

/*************************************
Website Frame
*************************************/
#website_frame{

  background: #e2e2e2;
  position: fixed;
  top: 60px;
  left: $spacing;
  right: 0;
  bottom: 0;
  z-index: 5;
  @include box-shadow(0, 0, 20px, 0.75);

  p{

  }

}

/*************************************
Bigger Size
*************************************/
@media only screen and (min-width: 1444px) {

  $spacing: 420px;

  #sidebar{
    width: $spacing;
    padding: 80px;
  }

  #topbar{
    padding-left: $spacing;
    height: 80px;
  }
  a#preview_url{
    margin-top: 30px;
  }
  ul#save_dialog{
    height: 80px;
    button{
      padding: 0 2em;
    }
  }

  #website_frame{
    left: $spacing;
    top: 80px;
  }

}