html.darkUI{

  background: $black;
  color: $gray;

  a, button{
    color: $gray;
    &:hover{
      color: lighten($gray, 15%);
    }
  }

  button.menu_section_label{
    color: $gray;
  }
  ul#menu_sections li.active button.menu_section_label,
  ul#menu_sections button.menu_section_label:hover{
    color: $white;
  }

  ul.top_links a:hover{
    color: $white;
  }

}