
<select name="band[field_option_values][<%= field_option.identifier %>]"  class="no_top_border">
  <option value='monsterrat'>Montserrat</option>
  <option value='lato'>Lato</option>
  <option value='droid_sans'>Droid Sans</option>
</select>

<!-- <input type="text" name="band[field_option_values][<%= field_option.identifier %>]" value="<%= @band.field_values.find_by(:field_option => field_option).try(:value) %>" /> -->