<div id="app">

    <div id="sidebar">
      <form>
        <ul id="menu_sections">


          <li id="menu-logo" class="active">
            <button class="menu_section_label">Logo</button>

            <div class="menu_section">
              <div class="menu_group">
                <label class="subsection_label">Text &amp; Font</label>
                <input type="text" id="menu_item_01" name="" value="<%= @band.name %>" />
              </div>
              <div class="menu_group">
                <label class="subsection_label">Upload</label>
                <div class="btn_field upload_field">
                  <span>Upload Logo</span>
                  <i class="icon-plus"></i>
                  <input type="file" class="upload" />
                </div>
                <div class="btn_field delete_field">
                  <span>Delete Logo</span>
                  <i class="icon-cancel"></i>
                  <input type="file" class="upload" />
                </div>
              </div>
            </div>

          </li>


          <li id="menu-social"><button class="menu_section_label">Social</button></li>


          <li id="menu-music"><button class="menu_section_label">Music</button></li>


          <li id="menu-style">
            <button class="menu_section_label">Style</button>

            <div class="menu_section">
              <label class="subsection_label">Background Image</label>
              <input type="file" name="pic" accept="image/*">
              <button>Delete Logo</button>
              <label class="subsection_label">Color &amp; Transparency</label>

              <select>
                <option>Montserrat</option>
                <option>Lato</option>
                <option>Droid Sans</option>
                <option>Need Moar!</option>
              </select>
              <label class="subsection_label">Custom Logo</label>
              <input type="file" name="pic" accept="image/*">
              <button>Delete Logo</button>

            </div>

          </li>


        </ul>
      </form>
    </div>

    <div id="topbar">
      <a id="preview_url" href="#" target="_blank">apollomusic.com/username</a>
      <ul id="save_dialog">
        <li><button class="cancel">Cancel</button></li>
        <li><button class="save">Save</button></li>
      </ul>
    </div>

    <div id="website_frame">
      <p>you are editing the band:  '<%= @band.name %>'</p>
    </div>

  </div>