<div id="app">

    <div id="sidebar">
      <form>
        <ul id="menu_sections">


          <li id="menu-logo">
            <button class="menu_section_label" type="button">Logo</button>

            <div class="menu_section">
              <div class="menu_group">
                <label class="subsection_label">Text &amp; Font</label>
                <input type="text" id="text_and_font" name="text_and_font" value="<%= @band.name %>" />
              </div>
              <div class="menu_group">
                <label class="subsection_label">Upload</label>
                <div class="btn_field upload_field">
                  <span>Upload Logo</span>
                  <i class="icon-plus"></i>
                  <input type="file" class="upload" id="logo_upload" name="logo_upload" />
                </div>
                <button>Delete Logo</button>
              </div>
            </div>

          </li>


          <li id="menu-social">
            <button class="menu_section_label" type="button">Social</button>
            <div class="menu_section">
              <div class="menu_group">
                <label class="subsection_label">Twitter</label>
                <input type="text" id="social_twitter" name="social_twitter" value="" />
                <label class="subsection_label">Soundcloud</label>
                <input type="text" id="social_soundcloud" name="social_soundcloud" value="" />
                <label class="subsection_label">Facebook</label>
                <input type="text" id="social_facebook" name="social_facebook" value="" />
                <label class="subsection_label">Spotify</label>
                <input type="text" id="social_spotify" name="social_spotify" value="" />
                <label class="subsection_label">Instagram</label>
                <input type="text" id="social_instagram" name="social_instagram" value="" />
              </div>
            </div>
          </li>


          <li id="menu-music"><button class="menu_section_label" type="button">Music</button></li>


          <li id="menu-style" class="active">
            <button class="menu_section_label" type="button">Style</button>

            <div class="menu_section">

              <div class="menu_group">
                <label class="subsection_label">Main</label>
                <input type="text" class="colorPicker" id="main_color" name="main_color" value="" />
                <select>
                  <option>Montserrat</option>
                  <option>Lato</option>
                  <option>Droid Sans</option>
                  <option>Need Moar!</option>
                </select>
              </div>

              <div class="menu_group">
                <label class="subsection_label">Text</label>
                <input type="text" class="colorPicker" id="text_color" name="text_color" value="" />
                <select>
                  <option>Montserrat</option>
                  <option>Lato</option>
                  <option>Droid Sans</option>
                  <option>Need Moar!</option>
                </select>
              </div>

              <div class="menu_group">
                <label class="subsection_label">Music Background</label>
                <input type="text" class="colorPicker" id="music_background" name="music_background" value="" />
              </div>

              <div class="menu_group">
                <label class="subsection_label">Background Image</label>
                <div class="background_picker">
                  Background images will load here...
                </div>
              </div>

              <div class="menu_group">
                <label class="subsection_label">Background Overlay Color</label>
                <input type="text" class="colorPicker" id="background_overlay_color" name="background_overlay_color" value="" />
                <div class="slider"></div>
              </div>

            </div>

          </li>


        </ul>
      </form>
    </div>

    <div id="topbar">
      <a id="preview_url" href="#" target="_blank">apollomusic.com/username</a>
      <ul id="save_dialog">
        <li><button class="cancel">Cancel</button></li>
        <li><button class="save">Save</button></li>
      </ul>
    </div>

    <div id="website_frame">
      <p>you are editing the band:  '<%= @band.name %>'</p>
    </div>

  </div>