<div id="app">

    <div id="sidebar">
      <ul id="menu_sections">
        <li class="active">
          <button class="menu_section_label">Logo</button>
          <div class="menu_section">
            asfd
          </div>
        </li>
        <li><button class="menu_section_label">Style</button></li>
        <li><button class="menu_section_label">Social</button></li>
        <li><button class="menu_section_label">Music</button></li>
      </ul>
    </div>

    <div id="topbar">
      <a id="preview_url" href="#" target="_blank">apollomusic.com/username</a>
      <ul id="save_dialog">
        <li><button class="cancel">Cancel</button></li>
        <li><button class="save">Save</button></li>
      </ul>
    </div>

    <div id="website_frame">
      <p>you are editing the band:  '<%= @band.name %>'</p>
    </div>

  </div>