<h1>
  <%= @band.name %>
</h1>
<div class="soundcloud_embed">
  <iframe src="https://w.soundcloud.com/player/?url=<%= @band.hottest_track_permalink %>&auto_play=false&hide_related=false&visual=true">
</div>