/*************************************
Header
*************************************/
header{
  margin-bottom: 16em;
}

/*************************************
Content
*************************************/
span.tagline{
  font-size: 4em;
}

h1{
  font-size: 1.7em;
  margin-bottom: 1em;
}

button.soundcloud{

  font-size: 1.5rem;
  margin: 2em 0;

  i{
    font-size: 1.7rem;
    top: 1px;
    margin-right: 8px;
  }

}

#cord{
  top: -75px;
}