<header>
  <img id="logo" src="<%= asset_path 'logo.svg' %>" />
  <nav>
    <ul>
      <li><a href="#">Examples</a></li>
      <li><a class="button" href="<%= user_omniauth_authorize_path(:soundcloud) %>">Log in</a></li>
    </ul>
  </nav>
</header>

<div id="content">

  <span class="tagline">Plug you in.</span>
  <h1>Instant music websites via Soundcloud</h1>
  <a href="<%= user_omniauth_authorize_path(:soundcloud) %>">
  <button class="soundcloud"><i class="fa fa-soundcloud"></i> Connect with SoundCloud</button>

</div>

<footer class="clearfix">
  <p class="left">Made by nice people in MN</p>
  <p class="right"><a href="#">Terms</a>/<a href="#">Privacy</a></p>
</footer>

<div id="cord"></div>